.navbar {
    text-align: stretch;
    border: 4px sandybrown;
}
.table {
    border: 1px solid slategray;
}

table, th, tr, td {
    border: 1px solid slategray;
}

.title {
    text-align: center;
}